@font-face {
  font-family: "Monocraft";
  src: url(fonts/Monocraft.ttf) format("truetype");
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #12004f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #07001f,
    #12004f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #07001f,
    #12004f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 4em;
  font-family: "Monocraft", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Monocraft", sans-serif;
  font-size: 3em;
}
h1,

h2 {
  margin: 0;
  color: #fff;
}
p {
  font-family: "Monocraft", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  max-width: 50%;
  text-align: center;
  color: #fff;
}
