@font-face {
  font-family: "GothamPro";
  src: url(fonts/GothamPro.ttf) format("truetype");
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  font-size: 4em;
  font-family: "GothamPro", sans-serif;
  font-weight: bold;
  color: #fff;
}
