@font-face {
  font-family: "GothamPro";
  src: url(fonts/GothamPro.ttf) format("truetype");
}

body {
  background: rgb(18,0,79);
  background: linear-gradient(90deg, rgba(18,0,79,1) 0%, rgba(35,85,208,1) 100%);
}

.title {
  font-family: "GothamPro", sans-serif;
  font-weight: bold;
  color: #fff;
  animation: fadeIn 2s;
  animation: sizeIn 1.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes sizeIn {
  0% { font-size: 0em; }
  100% { font-size: 3em; }
}
